<?xml version="1.0" encoding="utf-8" ?>
<!--
Sample license text.
-->
<BioSystemConfig>
	<BioCompilerConfig>
		<!--
		For compiler, what we should config is 
		-->
		<column>32</column>
		<row>20</row>
	</BioCompilerConfig>
	<BioExecutorConfig>
		<column>32</column>
		<row>20</row>
		<router>AStar</router>
		<basm_template>C:\Users\Wenjie\OneDrive\MasterThesis\VisionBasedCompiler\template.basm</basm_template>
		<json_template>C:\Users\Wenjie\OneDrive\MasterThesis\VisionBasedCompiler\template.json</json_template>
		<json_output>C:\Users\Wenjie\OneDrive\MasterThesis\VisionBasedCompiler\out\test1.json</json_output>
		<basm_output>C:\Users\Wenjie\OneDrive\MasterThesis\VisionBasedCompiler\out\test1.basm</basm_output>
	</BioExecutorConfig>
</BioSystemConfig>