<?xml version="1.0" encoding="utf-8" ?>
<!--
Sample license text.
-->
<BioSystemConfig>
	<BioCompilerConfig>
		<!--
		For compiler, what we should config is 
		-->
		<width>32</width>
		<height>20</height>
	</BioCompilerConfig>
	<BioExecutorConfig>
		<width>32</width>
		<height>20</height>
		<router>AStar</router>
	</BioExecutorConfig>
</BioSystemConfig>